<h1> Fake News </h1>
<p>Please enter link/article</p>


<div style="height:5px"></div>
<div >
    <form>
    <label for="link">Link:</label>
    <input #link placeholder="link" type="text" class="form-control">
    
    <button (click) = "submitLink(link.value)" type="button" class="btn btn-default">Submit</button>
    </form>
    <div *ngIf="load">Loading result</div>
    <div *ngIf="res">
            <p>The Result of the search are as follows</p>
            <label for="Fake News">Fake News:</label>
            <input [(ngModel)]="fake_res">
            <label for="Bias News">Bias News:</label>
            <input [(ngModel)]="bias_res">
            <p>{{sentiment}}</p>
            <button (click) = "update(link.value)" class="btn btn-default">Update</button>
    </div>    
</div>

